{% extends 'main.html' %}

{% block content %}

<br>
<div class="container">
  <div class="container">
    <div class="card-deck">
      <div class="card ">
        <h5 class="card-header">Controls</h5>
        
        <div class="card-body">
          <p class="card-text">Lorem ipsum</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5>Volume</h5>
            {% include 'slider.html' %}
          </li>
          <li class="list-group-item">
            <h5>Lights</h5>
            
          </li>
          <li class="list-group-item">erere</li>
          <li class="list-group-item">erere</li>
          <li class="list-group-item">erere</li>
        </ul>
        <div class="card-body">
          <a href="#" class="card-link">Test</a>
        </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}

