{% extends 'main.html' %}

{% block content %}
  <br>  
  
  <div class="row container">
    <div class="container col-md-4">
      <h1>Songs</h1>
      <hr>
      {% include "songs.html" %}
    </div>
    <div class="container col-md-8">
      <h1>
	All rooms
        <a href="/music/stop" style="float: right;">
         <button class="btn btn-danger">Stop music</button>
	</a>
      </h1>
      <hr>
      <div class="card-deck">
        {% for room in rooms %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ room.name}}</h5>
	      {% if room.paused %}
	      <a href="/music/pause/{{room.id}}/0">
                <button class="btn btn-primary">
	      {% else %}
	      <a href="/music/pause/{{room.id}}/1">
                <button class="btn btn-default">
	      {% endif %}
                  <div class="room-mute">
                    Mute
                  </div>
	        </button>
              </a>

              <a href="/lights/toggle/{{room.id}}">
                <button class="btn btn-default">
                  <div class="room-lights">Lights ON</div>
                </button>
              </a>
              <div class="container">
	        <div class="slidecontainer">
	          <input type="range" min="0" max="100" value="{{room.volume}}" class="slider" id="myRange" onchange="onSliderChange(this.value, {{room.id}})">
	        </div>  
             </div>
             <div>
             <h5>Lights</h5>
             {%for light in Lights %}
               {% if light.roomId == room.id %}
                 <div style="text-align: center" class="col-md-6 card">
                   <h6>{{light.name}} </h6>
                   <input type="color" value="#{{light.hex}}" class="form-control" onchange="onLightChange(this.value, {{light.uuid}})">
                 </div>
               {% endif %}
             {% endfor %}
           </div>  
                
            </div>  
          </div>
        {% endfor %}
        </div>
    </div>
  </div>

{% endblock %}
