{% extends 'main.html' %}

{% block content %}
  <br>  
  <div class="container">
    <form action="/" method="POST">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.name.label }}
        {{ form.name(class="form-control", placeholder="Name",autocomplete="off")}}
      </div>
      <div class="row">
        <div class="form-group col-6">
          {{ form.ip.label }}
          {{ form.ip(class="form-control", placeholder="IP", autocomplete="off")}}
        </div>
        <div class="form-group col-6">
          {{ form.port.label }}
          {{ form.port(class="form-control", placeholder="Port", autocomplete="off")}}
        </div> 
        <div class="form-group col-12">
          {{ form.submit(class="btn btn-primary col-12") }}
        </div>
      </div>
    </form>
  </div>

  
  <hr>
  
  <div class="container">
    <div class="container">
      <div class="row">
        {% for sat in sats %}
          <div class="card col-4">
            <div class="card-body">
              <h5 class="card-title">{{ sat.name}}</h5>
              <p class="card-text"> 
                {{ sat.ip}} : {{ sat.port }}  
              </p>
              
              <a href="/{{sat.id}}"><button class="btn btn-primary">Disconnect</button></a>
            </div>  
          </div>
        {% endfor %}
        </div>
    </div>
  </div>


  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-warning">
          <button type="button" class="close">&times</button>
          {{ msg }}
        </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    
  </div>
{% endblock %}
