
{% block navbar %}
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a href="#" class="navbar-brand mb-0 h1">ITU IoT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContenT">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#connectDevice">Connect a Device</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#connectCC">Connect a Chromecast</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#connectSong">Add a song</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#connectMobile">Add mobile</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">See all devices</a>
        </li>
      </ul>
    </div>
  </nav>
      
    
{% endblock %}
