
{% block navbar %}
  <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
    <a href="/" class="navbar-brand mb-0 h1">ITU IoT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#connectDevice">Connect a Satellite</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#connectCC">Connect a Chromecast</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#connectLight">Connect a Light</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#connectSong">Add a song</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#connectMobile">Add mobile</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link" data-toggle="modal" data-target="#connectRoom">Add Room</a>
        </li>
      </ul>
    </div>
  </nav>
      
    
{% endblock %}
