{% extends 'main.html' %}

{% block content %}
  <br>  
  
  <div class="container">
    <div class="container">
      <h1>All rooms</h1>
      <hr>
      <div class="card-deck">
        {% for room in rooms %}
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ room.name}}</h5>

                <button class="btn btn-default">
                  <div class="room-mute">
                    Mute
                  </div>
                </button>
              </a>

              <a href="/lights/{{room.id}}">
                <button class="btn btn-default">
                  <div class="room-lights">Lights ON</div>
                </button>
              </a>
              <div class="container">
	        <div class="slidecontainer">
	          <input type="range" min="1" max="100" value="{{room.volume}}" class="slider" id="myRange" onchange="onSliderChange(this.value, {{room.id}})">
	        </div>  
             </div>

                
            </div>  
          </div>
        {% endfor %}
        </div>
    </div>
  </div>

{% endblock %}
